//global
section{
	margin: 0;
}

.row{
	margin: 0;
}

a:hover, a:active, a:visited{
	text-decoration: none;
	color: white;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	background: #fff;
}


// Nav Bar

.navbar{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}
.navbar-default{
	background: none;
}

.navbar{
	border: none;

}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav>li>a:active{
	color: white;
	text-decoration: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
	color: white;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand:hover{
	color: white;
}

nav, h1, h2, h3, h4{
	padding: 0 !important;
	margin: 0 !important;
}




// Footer
footer{
	padding: 10px 0 6px 0;
	text-align: center;
	display: block;

	i{
		font-size: 2em !important;
	}

	.social-media{
		display: block;
		margin: 0 auto;
		height: 30%;
		width: 50vw;

	}
}
