// Body & Global
$phone: 500px;

// Intro Section

#intro-section{
	// min-height: 700px;
	min-height: 100vh;
	position: relative;
	background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url("/images/intro-2.jpg");

		background-size: cover;
		background-attachment: fixed;

		#intro-text{
			// margin-top: 12%;
			margin-top: 15%;
			color: white;
			h1{
				font-size: 7em;
				text-align: center;
			}

			h3{
				text-align: center;
				font-size: 2em;
			}

			@media screen and (max-width: $phone){
						margin-top: 30%;
						h1{
							font-size: 6em;
						}

			}

		}


		.arrow-down{
			position:absolute;
			bottom: 10%;
			width: 100%;
			i{
				margin: 3% auto 0 auto;
				font-size: 6em;
				display: block;
				color: white;
				width: 200px;
				text-align: center;
			}

		}

}

// Main Section
#main-section{
	#about{
		background:
			/* top, transparent black, faked with gradient */
			linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.8)
			),
			/* bottom, image */
			url("/images/about.jpg");
			background-size: cover;
			background-repeat: no-repeat;
	}

	#portfolio{
		background:
			/* top, transparent black, faked with gradient */
			linear-gradient(
				rgba(0, 0, 0, 0.7),
				rgba(0, 0, 0, 0.7)
			),
			/* bottom, image */
			url("/images/portfolio.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#latest-updates{
		background:
			/* top, transparent black, faked with gradient */
			linear-gradient(
				rgba(0, 0, 0, 0.7),
				rgba(0, 0, 0, 0.7)
			),
			/* bottom, image */
			url("/images/latest-updates.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	div{

		margin: 0;
		padding: 0;
	}

	.content{
		width: 100%;
		padding: 15% 25%;


		h3{
			font-size: 5em;
			text-transform: lowercase;
			color: white;
			font-weight: bolder;
			span{
				margin-left: 0.5em;
			}
			@media screen and (max-width: $phone){
				font-size: 4em;
					span{
						margin-left: 0;
					}
			}

		}

		button{
			width: 200px;
			padding: 5% 0;
			border-radius: 3px;
			display: block;
			background: #333;
			border: 1px white solid;
			font-size: 1.5em;
			color: white;
			font-weight: bolder;
			margin: 10% auto 0 auto;
		}
	}
}




// pages

#main-content{
	background: #999999;
	padding: 3% 3% !important;
	text-align: center;
	min-height: 400px;
  font-family: 'Arvo', serif;

	h1{
		font-size: 10em;
	}

	h1{
		font-size: 4em;
		color: white;
	}
}
