// Body & Global



body{
	font-family: 'Source Sans Pro', sans-serif;
	background: #ffff;;
}

section{
	margin: 0;
}

.row{
	margin: 0;
}




// Nav Bar
.navbar-default{
	background: none;
}

.navbar{
	border: none;

}

.navbar-default .navbar-nav>li>a:hover{
	color: white;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-brand{
	color: white;
}

nav, h1, h2, h3, h4{
	padding: 0 !important;
	margin: 0 !important;
}


// Intro Section

#intro-section{
	min-height: 700px;
	background:
    /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
    url("/images/intro-2.jpg");

		background-size: cover;
		background-attachment: fixed;

		#intro-text{
			margin-top: 12%;
			color: white;
			h1{
				font-size: 7em;
				text-align: center;
			}

			h3{
				text-align: center;
				font-size: 2em;
			}
		}

}

// Main Section
#main-section{
	#about{
		background:
			/* top, transparent black, faked with gradient */
			linear-gradient(
				rgba(0, 0, 0, 0.8),
				rgba(0, 0, 0, 0.8)
			),
			/* bottom, image */
			url("/images/about.jpg");
			background-size: cover;
			background-repeat: no-repeat;
	}

	#portfolio{
		background:
			/* top, transparent black, faked with gradient */
			linear-gradient(
				rgba(0, 0, 0, 0.7),
				rgba(0, 0, 0, 0.7)
			),
			/* bottom, image */
			url("/images/portfolio.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	#latest-updates{
		background:
			/* top, transparent black, faked with gradient */
			linear-gradient(
				rgba(0, 0, 0, 0.7),
				rgba(0, 0, 0, 0.7)
			),
			/* bottom, image */
			url("/images/latest-updates.jpg");
		background-size: cover;
		background-repeat: no-repeat;
	}

	div{
		height: 400px;
		margin: 0;
		padding: 0;
	}

	.content{
		width: 100%;
		padding: 15% 25%;

		h3{
			font-size: 5em;
			text-transform: lowercase;
			color: white;
			font-weight: bolder;
			span{
				margin-left: 25%;
			}
		}

		button{
			width: 200px;
			padding: 5% 0;
			border-radius: 3px;
			display: block;
			background: #333;
			border: 1px white solid;
			font-size: 1.5em;
			color: white;
			font-weight: bolder;
			margin: 10% auto 0 auto;
		}
	}
}


footer{
	padding: 10px 0 5px 0;
	text-align: center;

	i{
		font-size: 2em !important;
	}
}
